

.experience-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /* width: 90%; */
    /* height: 140px; */
    /* padding: 1.5rem; */
    border-radius: 20px;
    margin-bottom: 1.5rem;
    transition: background-color 200ms ease-in-out;
    background-color: #91c58e;
  }
  .experience-card:hover {
    background-color: #9fd49c;
  }
  .expcard-img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  
  .expcard-img > img {
    width: 36px;
    pointer-events: none;
  }
  
  .experience-details {
    margin-left: 0.6rem;
  }
  
  .experience-details > h6 {
    font-family: var(--primaryFont);
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .experience-details > h4 {
    font-family: var(--primaryFont);
    font-size: 1.225rem;
    font-weight: 600;
  }
  
  .experience-details > h5 {
    font-family: var(--primaryFont);
    font-size: 1.15rem;
    font-weight: 600;
  }
  