.top-to-btm {
  position: relative;
}
.icon-position {
  position: fixed;
  bottom: 2.15rem;
  right: 1.563rem;
  z-index: 20;
}
.icon-style {
  background-color: #2b2a2a57;
  color: #ffffff;
  height: 2.9rem;
  width: 2.6rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1rem;
}
.icon-style:hover {
  animation: none;
  background: #00000079;
  color: #ffffff;
}
